/* ===============================
   Main CSS - Wedding Invitation
   Organized CSS Architecture
   =============================== */

/* Import all CSS modules in the correct order */
@import url('./css/fonts.css');
@import url('./css/variables.css');
@import url('./css/base.css');
@import url('./css/layout.css');
@import url('./css/typography.css');
@import url('./css/components.css');
@import url('./css/sections.css');
@import url('./css/animations.css');
@import url('./css/responsive.css');